openapi: 3.1.0
info:
  title: ヰ世界のテラリウム API
  version: 0.0.0
tags:
  - name: SongType
paths:
  /song-types:
    get:
      operationId: SongTypeService_listSongTypes
      description: 楽曲種別一覧取得API
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSongTypesResponse'
        '500':
          description: Server error
        '503':
          description: Service unavailable.
        '504':
          description: Server error
      tags:
        - SongType
    post:
      operationId: SongTypeService_createSongType
      description: 楽曲種別作成API
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSongTypeResponse'
        '400':
          description: The server could not understand the request due to invalid syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Server error
        '503':
          description: Service unavailable.
        '504':
          description: Server error
      tags:
        - SongType
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSongTypeRequest'
  /song-types/{songTypeId}:
    get:
      operationId: SongTypeService_getSongType
      description: 楽曲種別取得API
      parameters:
        - name: songTypeId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Lib.uuid'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSongTypeResponse'
        '404':
          description: The server cannot find the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Server error
        '503':
          description: Service unavailable.
        '504':
          description: Server error
      tags:
        - SongType
    put:
      operationId: SongTypeService_updateSongType
      description: 楽曲種別更新API
      parameters:
        - name: songTypeId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Lib.uuid'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSongTypeResponse'
        '400':
          description: The server could not understand the request due to invalid syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The server cannot find the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Server error
        '503':
          description: Service unavailable.
        '504':
          description: Server error
      tags:
        - SongType
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSongTypeRequest'
    delete:
      operationId: SongTypeService_deleteSongType
      description: 楽曲種別削除API
      parameters:
        - name: songTypeId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Lib.uuid'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: The server could not understand the request due to invalid syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The server cannot find the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Server error
        '503':
          description: Service unavailable.
        '504':
          description: Server error
      tags:
        - SongType
components:
  schemas:
    CreateSongTypeRequest:
      type: object
      required:
        - songTypeName
        - orderNo
      properties:
        songTypeName:
          type: string
          minLength: 1
          description: 楽曲種別名
        orderNo:
          type: integer
          format: int32
          minimum: 1
          description: 表示順
    CreateSongTypeResponse:
      type: object
      required:
        - songType
      properties:
        songType:
          $ref: '#/components/schemas/SongType'
    ErrorResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
    GetSongTypeResponse:
      type: object
      required:
        - songType
      properties:
        songType:
          $ref: '#/components/schemas/SongType'
    Lib.uuid:
      type: string
      format: uuid
    ListSongTypesResponse:
      type: object
      required:
        - songTypes
      properties:
        songTypes:
          type: array
          items:
            $ref: '#/components/schemas/SongType'
    SongType:
      type: object
      required:
        - songTypeId
        - songTypeName
        - orderNo
      properties:
        songTypeId:
          allOf:
            - $ref: '#/components/schemas/Lib.uuid'
          description: 楽曲種別ID
        songTypeName:
          type: string
          minLength: 1
          description: 楽曲種別名
        orderNo:
          type: integer
          format: int32
          minimum: 1
          description: 表示順
      examples:
        - songTypeId: 5e8211d4-2952-407c-ba7b-18c3fe0da6e0
          songTypeName: オリジナル
          orderNo: 1
    UpdateSongTypeRequest:
      type: object
      required:
        - songTypeName
        - orderNo
      properties:
        songTypeName:
          type: string
          minLength: 1
          description: 楽曲種別名
        orderNo:
          type: integer
          format: int32
          minimum: 1
          description: 表示順
    UpdateSongTypeResponse:
      type: object
      required:
        - songType
      properties:
        songType:
          $ref: '#/components/schemas/SongType'
    ValidationError:
      type: object
      required:
        - field
        - message
      properties:
        field:
          type: string
        message:
          type: string
servers:
  - url: https://local.admin.terrarium.isekaijoucho.fan/api
    description: ローカル環境
    variables: {}
