openapi: 3.1.0
info:
  title: ヰ世界のテラリウム API
  version: 0.0.0
tags:
  - name: SongType
paths:
  /song-types:
    get:
      operationId: listSongTypes
      description: 楽曲種別一覧取得API
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSongTypeResponse'
      tags:
        - SongType
    post:
      operationId: createSongType
      description: 楽曲種別作成API
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSongTypeResponse'
      tags:
        - SongType
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSongTypeRequest'
  /song-types/{songTypeId}:
    get:
      operationId: getSongType
      description: 楽曲種別取得API
      parameters:
        - name: songTypeId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/uuid'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSongTypeResponse'
        '404':
          description: The server cannot find the requested resource.
      tags:
        - SongType
components:
  schemas:
    CreateSongTypeRequest:
      type: object
      required:
        - songTypeName
        - orderNo
      properties:
        songTypeName:
          type: string
          minLength: 1
          description: 楽曲種別名
        orderNo:
          type: integer
          format: int32
          minimum: 1
          description: 表示順
    CreateSongTypeResponse:
      type: object
      required:
        - songType
      properties:
        songType:
          $ref: '#/components/schemas/SongType'
    GetSongTypeResponse:
      type: object
      required:
        - songType
      properties:
        songType:
          $ref: '#/components/schemas/SongType'
    ListSongTypeResponse:
      type: object
      required:
        - songTypes
      properties:
        songTypes:
          type: array
          items:
            $ref: '#/components/schemas/SongType'
    SongType:
      type: object
      required:
        - songTypeId
        - songTypeName
        - orderNo
      properties:
        songTypeId:
          allOf:
            - $ref: '#/components/schemas/uuid'
          description: 楽曲種別ID
        songTypeName:
          type: string
          minLength: 1
          description: 楽曲種別名
        orderNo:
          type: integer
          format: int32
          minimum: 1
          description: 表示順
      examples:
        - songTypeId: 5e8211d4-2952-407c-ba7b-18c3fe0da6e0
          songTypeName: オリジナル
          orderNo: 1
    uuid:
      type: string
      format: uuid
servers:
  - url: https://local.admin.terrarium.isekaijoucho.fan/api
    description: ローカル環境
    variables: {}
