name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    name: CI (Node ${{ matrix.node-versions }})

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-versions: ["24"]

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-versions }}

      - name: Cache node modules
        id: cache-node-modules
        uses: actions/cache@v4
        with:
          path: ./node_modules
          key: node-modules-${{ hashFiles('**/package-lock.json') }}

      - name: Install packages
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: npm i

      - name: Check format
        run: npm run format:check

      - name: Check generate code has diff
        run: |
          npm run compile
          if [ -n "$(git status --porcelain)" ]; then
            echo "自動生成コードに差分があります"
            git status
            exit 1
          fi
